<main>
        <h1 class="text-center">Hello world!</h1>
        <h2 class="text-end">title 2</h2>
        <h3>title 3</h3>

        <hr>

        <div class="display-1 text-muted"> Hello world!</div>
        <div class="display-2">title 2</div>
        <div class="display-6">title 3</div>

        <hr>

        <span class="text-muted">Text muted</span>

        <hr>

        <div class="card"> 
            <span class="card-body"> hello </span>
        </div>
        
    </section>
</main>