{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}


<div class="p-5">

    {{#with list}}
        <h1>{{title}}</h1>
        <p><i>{{text}}</i></p>

        <br>

        {{#each buttons}}
        <div class="row">
            <a href={{path}} class="col-1 btn btn-primary m-3" target="_blank">{{text}}</a> 
        </div>    
        {{/each}}
    {{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}